  @mixin text ($f-weight,$f-size,$f-height,$f-color){
    font-weight: $f-weight;
    font-size: $f-size;
    line-height: $f-height;

    color:$f-color;
   }
@mixin montserrat{
  font-family: 'Montserrat', sans-serif;
}
@mixin cormorant{
  font-family: 'Cormorant Garamond', serif;
}